<section class="bg-gray-50 dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400 mb-10">
            <span class="text-cyan-700 text-2xl  font-bold ">Welcome to Pacific</span>
            <h2 class="mt-10   text-5xl tracking-tight font-extrabold text-gray-900 dark:text-white">It's time to start your adventure</h2>
            <p >A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.

                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <a href="#" class="inline-flex mt-4 mr-72 bg-cyan-700 text-white text-sm  font-medium py-4 px-10 rounded-lg hover:bg-cyan-800 transition ">Search Destination</a>
        </div>
        
        <!-- Modification ici : Conteneur d'images -->
        <div class="grid grid-cols-2 gap-4 h-[800px]"> <!-- Hauteur fixe pour le conteneur -->
            <!-- Chaque image dans un conteneur relatif -->
            <div class="relative  w-10px">
                <img class="w-full h-full object-cover rounded-lg" 
                     src="assets/images/services-1.jpg" 
                     alt="office content 2">
            </div>
            
            <div class="relative  w-70px">
                <img class="w-full h-full object-cover rounded-lg" 
                     src="assets/images/services-2.jpg" 
                     alt="office content 1">
            </div>
            
            <div class="relative  w-150px col-span-2"> <!-- Prend 2 colonnes -->
                <div class="relative group h-full w-full">
                    <img class="w-full h-full object-cover rounded-lg" 
                         src="assets/images/services-3.jpg" 
                         alt="office content 2">
                    <!-- Overlay hover inchangé -->
                </div>
            </div>
            
          
        </div>
    </div>
</section>